
    <div class="row ">
      <div class="col-md-7">
        <div class="input-group ">
          <input type="text" class="form-control" placeholder="Search" (input)="onSearchChange($event.target.value)" (keyup.enter)="searchUser()" id="txtSearch" [(ngModel)]="searchKeyword"/>
          <div class="input-group-btn">
            <button class="btn btn-primary" (click)="searchUser()">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
<div *ngIf="dataExist; else noData" class="container my-5 mw-600" id="container">
    <div class="accordion" id="accordionExample">
        <ng-container *ngFor="let data of userData">
            <div class="card">
                <div class="card-header" [id]="data.email">
                    <a class="btn btn-link d-flex" data-toggle="collapse" [attr.data-target]="'#' + data.id"
                        aria-expanded="false" style="color: black;font-weight: bold;font-size: 1.6em;">
                        {{data.email}}
                        <!-- <i class="fa fa-chevron-down float-right" aria-hidden="true"></i> -->
                        <span class="ml-auto fa fa-chevron-down"></span></a>
                </div>
                <div [id]="data.id" class="collapse" [attr.aria-labelledby]="data.email"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <span>First name :  {{data.first_name}}</span><br>
                        <span>Last name :  {{data.last_name}}</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<ng-template #noData>
<h3 class="text-md-center mt-3">No data found</h3>
</ng-template>